.login {
    @apply h-full w-full flex items-center justify-center;

    &__wrapper {
        max-width: 1000px;
        @apply w-full items-center;
    }

    &__form {
        width: 100%;
        max-width: 500px;
        margin: auto;
    }
}

.form {
    &__header {
        margin: 16px auto;
        font-size: 32px;
        text-align: center;
    }

    &__content {
        width: 100%;
        max-width: 500px;
        margin: auto;
    }

    &__action {
        @apply flex;

        &-btn {
            flex: 1;

            &:first-child {
                margin-right: 12px;
            }
        }
    }
}
