.form {
    &__content {
        width: 100%;
        max-width: 500px;
        margin: auto;
    }

    &__action {
        @apply flex;

        &-btn {
            flex: 1;

            &:first-child {
                margin-right: 12px;
            }
        }
    }
}